<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Symfony 3 Tutorial</title>
    
    <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap.min.css')) }}" />
</head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        	<div class="container-fluid">
                
                <div class="navbar-header">
                  <a class="navbar-brand" href="{{ absolute_url(asset('')) }}app_dev.php/post">Symfony 3 </a>
                </div>
                 
                <div class="collapse navbar-collapse" id="navbarColor02">

                </div>

        	</div>

        </nav>
        <div class="container-fluid">
        <br />
        {% for success_message in app.session.flashbag.get('message') %}
          <div class="alert alert-success"> {{ success_message }} </div>
        {% endfor %}
