{{ include('pages/inc/header.html.twig') }}

<table class="table table-hover">

  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Descrition</th>
      <th scope="col">Category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>1</th>
      <td>Symfony Framework</td>
      <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry 1500s.</td>
      <td>Language Framework</td>
      <td>
          <a href="" class="btn btn-primary" title="View"> View </a>
          <a href="" class="btn btn-warning" title="Edit"> Edit </a>
          <a href="" class="btn btn-danger" title="Delete"> Delete </a>
      </td>
    </tr>
  
  </tbody>

</table> 

{{ include('pages/inc/footer.html.twig') }}